<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<form>
    <fieldset>
        <legend>Introduza os seus dados</legend>
        <h2>Utilizador</h2>
        <input type='text'>
        <h2>Palavra-Passe</h2>
        <input type=password'>
        <h2>Confirme a Passe</h2>
        <input type='password'>
        <p><br></p>
        <input type="button" value="Submeter">
    </fieldset>
</form>


</body>
</html>
